@CHARSET "UTF-8";
@font-face {
	font-family: DTLDocumentaT;
	src: url('fonts/DTLDocumentaT.otf');
}

@font-face {
	font-family: Helvetica;
	src: url('fonts/HelveticaNeueLTStd-Ltotf');
}

html, body {
	margin:0;
	padding:0;
	height: 100%;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	color:#000;
}

a img {
	border: none;
}

a {
	color:#F00;
	text-decoration:none;
	.display: inline-block;
}

a:hover{
	color:#333333;
}

.menu_responsivo{
display: none;
}

.wrapper{
	width: 1175px;
	margin: auto;
	position: relative;
	min-height: 100%;
	background: #fff;
}

.content {
	width: 1003px;
	position: relative;
/* 	min-height: 545px; */
	min-height:100%;
	padding: 50px 0;
	padding-bottom: 120px;
}

.anuncios{
	width:162px;
	height:700px;
	margin-top: 5px;
	float: right;
	display:none;
}

.menus {
	padding-top: 10px;
	width: 1003px;
	margin-left: 10px;
}

.menu{
	
}

.menu ul, .redes ul, .redes_foot {
	list-style: none;
	margin: 0;
	padding: 0;
	color: #F00;
	text-transform:uppercase;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}
	
.menu ul li{
	display: inline;
	padding-right: 20px;
	margin: 0 1px;
	text-align:center;
	position: relative;
}

.activo_m a{
	color:#000;
}

.menu ul li:first-child{
	display:none;
}

.menu ul li:hover {
	color: #333333;
	font-weight:bold;
}

.menu ul li ul {
	display: none;
}

.menu ul li:hover ul {
	display: block;
}
.menu ul li a {
	position: relative;
	z-index:100;
}

.activo {
	position: absolute;
	width: 57px;
	height: 30px;
	top: -10px;
	z-index:99;
	background: url(images/activo.png) no-repeat;
}


.busqueda{
	margin-right:30px;
	list-style: none;
	height: 20px;
	width: 193px;
	margin-top: 0px;
	display: block;
}

.redes {
    float: right;
    margin-top: -5px;
    width: 300px;
}

.redes ul li, .redes_foot li {
		display: block;
		float: left;
}

.redes_foot {
	display: none;
}

.fb, .tw, .mail {	
	width: 25px;
	height: 25px;
}

.fb{
	background: url(images/overs.png) -50px 0px;
}

.fb:hover{
	background: url(images/overs.png) -50px -25px;
}

.tw{
	background: url(images/overs.png) -25px 0px;
}

.tw:hover{
	background: url(images/overs.png) -25px -25px;
}

.mail{
	background: url(images/overs.png) 0px 0px;
}

.mail:hover{
	background: url(images/overs.png) 0px -25px;
}

.redes input[type=text] {
	border:none;
	border-bottom: solid 2px #f00;
	width: 168px;
	font-size: 14px;
	margin: 6px 0;
	padding: 0;
	display: block;
	float: left;
}

.redes input[type=image] {
	float: left;
	padding: 0;
	
}

.footer input[type=text] {
	font-family:Georgia;
	font-variant:bold;
	border:none;
	border-bottom: solid 2px #333333;
}

.footer input[type=submit] {
	font-family: Sansation,Arial;
	border: none;
	background:transparent;
}

.footer {
	position: absolute;
	bottom: 10px;
	font-style: italic;
	padding: 10px;
}

.image_codigo{
	max-width: 145px;
	margin-left: -9px;
}
.codigo a {
	margin-right: 20px;	
	margin-top: 5px;
	max-width: 100px;
	margin-left: 1px;
}

.codigo input[type=submit] {
	
	border:none;
	background:transparent;
}

.codigo_foot{
	display:none;
}

.logo {
	max-width: 87%;
}



.galerias {
	color:#f00;
	font-size:24px;
	width: 620px;
	line-height: 35px;
	font-family: Arial;
}
.galerias span {
	display:inline-block;
}

.lema{
	font-size: 21px;
	margin-bottom: 30px;
}

.info_text{
	max-width: 700px;
	font-size: 16px;
	margin-bottom: 65px;
}

.parrafo_rojo {
	color:#F00;
	line-height: 25px;
/* 	margin-left: 68px; */
}

.parrafo_rojo a{
	text-decoration: underline;
}

.slider_artistas {
    width:600px;
	height:450px;
	float:left;
	position:relative;
}

.slider_artistas .slides {
	width : 100%;
	height : 450px;
	background : #ccc;
	overflow:hidden;
}

.slides img {
	max-width:100%;
	max-height:100%;
}

.slide {
	position:absolute;
	width: 100%;
	height:100%;
	text-align: center;
	display:none;
}

.slide .tit {
	position: absolute;
	color:#fff;
	background:rgba(0,0,0,0.7);
	bottom:0;
	height:70px;
	width:100%;
}

.ficha  {
	float:left;
	margin-left: 10px;
	line-height: 40px;
}

.ficha .galeria{
	font-size:26px;
	color: #f00;
	
}

.ficha .artista{
	font-size:21px;
	color: #f00;
	
}

.ficha .expo{
	font-size:18px;
	color: #f00;
	
}
.boton_slider ul{
		margin:10px;
		padding:0;
}
.boton_slider ul li{
		display: inline-block;
		width: 15px;
		height: 15px; 
	
}

.puntos{
	float:left;
}
.puntos li{
	
		background: url(images/overs.png) -80px -5px;
}
.puntos li:HOVER{
		background: url(images/overs.png) -80px -30px;
}
.flechas{
	float:right;
}

.flecha_izq{
	background: url(images/overs.png) -104px -5px;
}
.flecha_izq:HOVER{
	background: url(images/overs.png) -104px -30px;
}
.flecha_der{
	background: url(images/overs.png) -128px -5px;
}
.flecha_der:HOVER{
	background: url(images/overs.png) -128px -30px;
}
	
.content_artistas{
	width: 100%;
	display: inline-block;
	position: relative;
	margin-top: 40px;
}
.uno {
	height: 184px;
	float:left;
	background:color #cfcfcf;
	width: 324px;
	padding: 5px;
}
.titulo {
	color: #F00;
	font-size: 24px;
	font-family: ;
	margin-bottom: 25px;
}
.texto{
	color: #333333;
	font-size: 14px;
	font-family: ;
}
.mas{
	background: url(images/overs.png) -150px -0px;
	width: 25px;
	height: 25px;
	margin-top: 15px;
	
}
.mas:HOVER {
	background: url(images/overs.png) -150px -25px;
}
.submenu{
	display: inline-block;
}
.newspaper h1 {
	display: none;
}
.submenu a{
	margin: 0px;
	padding:0px 8px;
	color: #F00;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	margin-top: 50px;
	
}
	
.submenu a:hover{
	color: #333333;
}

.submenu_responsive{
	display:none;
}

.googlemaps{
	background-color: #333333;
	width:1002px;
	height: 450px;
	margin-top: 40px;
}
.newspaper{
	
	-moz-column-count:3;
	-webkit-column-count:3; 
	column-count:3;
	
	-moz-column-gap:40px; 
	-webkit-column-gap:40px; 
	column-gap:40px;
	margin-top: 10px;
	text-align:left;
}
.newspaper a{
	display: block;
	text-align: left;
	margin: 0;
	margin-bottom: 10px;
	font-family: Arial;
	
}

.patrocinadores{
	color: #F00;
	font-family:Arial;
	font-weight:bold;
	font-size:14px;
	margin-top:50px;

}
.logos{
	width:100%px;
	background-color: #333333;
	margin-top: 20px;
	margin-bottom: 20px;
}
.main{
	display: inline-block;
	width:24.57%;
	height:196px;
	background-color: #ccc;
}
.premium{
	display: inline-block;
	width:19.57%;
	height:157px;
	background-color: #ccc;
}

.premium_ch{
	display: inline-block;
	width:16.25%;
	height:131px;
	background-color: #ccc;
}
.supporting{
	display: inline-block;
	width: 10.7%;
	height:85px;
	background-color: #ccc;
}
.media{
	display: inline-block;
	width:10.7%;
	height:85px;
	background-color: #ccc;
}
.search{
	margin-top: 40px;
	margin-left: 68px;
}

.search{
	color: #F00;
	font-family: Arial;
	font-size: 30px;

	float: left;
	margin-right: 10px;
}
.search_results{
	color: #333333;
	font-family: Arial;
	font-size: 30px;
}
.results{
	width:600px;
	height: 50px;
	margin-top: 10px;
	
}
.results_link{
	color:#F00;
	font-family: Arial;
	font-size: 18px;
	font-variant: bold;
	text-decoration: underline;
	
}
.results_info {
	color:#333333;
	font-size: 14px;
	font-family: Arial;
}
.anuncios_gde {
	background: #cccccc;
	width: 162px;
	height: 76px;
	margin-bottom: 5px;
}
.anuncios_ch {
	background: #cccccc;
	width: 78px;
	height: 76px;
	margin-bottom: 5px;
	margin-right: 1px;
	display: inline-block;
}

.newletter {
	display: inline-block;
}


/* 	RESPONSIVO */

@media screen and (max-width: 660px) {
	.activo_r {
		box-shadow: none;
		width: 190px;
		background: #222;
	}
	
	.content .margen {
		width: 300px;
	
		margin-left: 10px;
}
	
	.wrapper, .content, .newletter {
		width: 320px;
	}
	
	.content {
		min-height: 100%;
	}
	.footer {
		width: 100%;
		padding: 0;
		margin-left: -10px;
}
	.anuncios, .redes .tw, .redes .fb, .redes .mail, .codigo,.redes .busqueda { 
		display:none;
	}
	
	.redes {
		margin:0;
		position: relative;
		z-index: 11;
	}
	
	.redes_foot {
		display: inline-block;
		float: left;
	}
	
	.tw, .fb, .mail{
		margin-left: 20px;
		margin-right: 20px;
	}
	
	.codigo_foot{
		float: right;
		margin-right: 10px;
		display: block;
		margin-top: 3px;
	}
	
	.image_codigo{
		max-width: 60px;
		margin-left: -80px;
	}
	
	.footer input[type=text] {
		margin-top:3px;
	    border-radius: 15px;
		font-family: Sansation,Arial;
		height: 15px;
	    font-size: 11px;
		margin-left: 20px;
		border: 1px solid #000;
		width: 70%;
	}

	::-webkit-input-placeholder { padding-left:10px; }
	::-moz-placeholder { padding-left:10px; } /* firefox 19+ */
	:-ms-input-placeholder { padding-left:10px; } /* ie */
	input:-moz-placeholder { padding-left:10px ; }
	
	.newletter {
		margin-bottom: 15px;
	}
	
	.newletter span {
		padding-left: 20px;
	
		display: block;
}
	
	.menus {
		padding:0;
		width: 100%;
	}
	
	.menu {
		position: absolute;
		z-index: 10;
		background: url(images/activo.png) no-repeat;	
		height: 47px;
		overflow: hidden;
	}
	
	.menu ul li {
		width: 40%;
		padding: 10px;
		display: inline-block;
		text-align: left;
	}
	
	/* LINEAS PARA MENU*/
	
	.menu ul li:first-child{
		display:block;
		background:url(images/overs_menu.png);
		width: 10px;
		cursor: pointer;
		margin-top: 15px;
		margin-left: 12px;
	}
	/* LINEAS PARA MENU*/
	
	.activo {
		display:none;
	}
	
	.slider_artistas .slides {
		width: 100%;
		height: 300px;
		background: #CCC;
		overflow: hidden;
		position: relative;
	}
	
	.slider_artistas {
		width: 100%;
		height: 100%;
		float: left;
		position: relative;
	}
	
	.googlemaps {
		width: 95%;
		height: 200px;
		margin: 0px;
	}
	
	.info_text{
		max-width: 600px;
	}
	
	.submenu {
		display:none;
	}
	
	.submenu_responsive {
		display: block;
		list-style: none;
		float: left;
		width: 110px;
		margin-right: 19px;
	}
	
	.submenu_responsive a {
		display:block;
		margin-bottom: 5px;
		color: #F00;
		font-size: 12px;
		font-family:Arial, Helvetica, sans-serif;
	}
	
	.submenu_responsive a:hover{
		color: #333333;
	}
	
	.submenu_responsive h1, .newspaper h1 {
		line-height: 50px;
		font-family: Arial;
		font-weight: lighter;
		font-size: 18px;
		text-transform: uppercase; 
		display: block;
	}
	.newspaper {
		text-align:left;
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
		-moz-column-gap: 0px;
		-webkit-column-gap: 0px;
		column-gap: 0px;
		margin-top: 0px;
	
	}
	
	.newspaper a{
		display: block;
		text-align: left;
		margin: 0;
		margin-bottom: 10px;
	
		font-size: 12px;
	}
	
	.main {
		width: 49%;
	
		height: 140px;
	}
	.main_r {
		display: none;
	}
	
	
	.premium {
		width: 32%;
	
		height: 100px;
	}
	.premium_r {
		display: none;
	}
	
	
	.premium_ch {
		width: 23.7%;
	
		height: 70px;
	}
	.premium_ch_r {
		display: none;
	}
	
	
	
	.supporting {
		width: 18.7%;
	
		height: 50px;
	}
	.supporting_r {
		display: none;
	}
	
	
	.media {
		width: 18.7%;
	
		height: 50px;
	}
	.media_r {
		display: none;
	}
	
	.boton_slider {
		position: relative;
	}
	
	.boton_slider ul{
		margin: 0px;
		margin-top: 5px;
	}
	
	.puntos {
		text-align: center;
		width: 100%;
	}
	.flechas{
		position: absolute;
		width: 100%
	}
	
	.flecha_der{
		float: right;
	}
	
	/* 	MENU RESPONSIVO */
	
	body{
	width: 100%;
/* 	overflow-x:hidden;  */
	}
	
	
	.wrapper_r{
		height: 100%;
		width: 100%;
		overflow: auto;
		position: absolute;
	}
	
	
	.menu_responsivo{
		position: fixed;
		width:320px;
		background: #333333;
		display: block;
		color:#ffffff;
	
		height: 100%;
	}
	

	.wrapper{
		margin-left:0px;
	}
	
	.content_menuresponsivo{
		background: #333333;
		color:#ffffff;
	}
	
	
	.links {
		margin: 0px;
		padding: 0px;
	}
	
	.busqueda li{
        line-height: 0;
		padding-bottom: 15px;
	}
	
	
	.busqueda input[type=text]{
	    background-color: #fff;
	    height: 30px;
	    padding-left: 30px;
	    width: 171px;
	    box-shadow: 2px 2px 0 #828181 inset;
	}
	
	.busqueda input[type=image]{
	    position: absolute;
		
	    top: 19px;
	    left: 15px;
	
	    width: 18px;
	    height: 18px;
	}
	.busqueda input[type=button]
	{
	    background-color: #1E1E1E;
	    color: #979797;
	    height: 24px;
	    width: 103px;
	    color: #bbbbbb;
	    text-transform:uppercase;
	    box-shadow:-1px 2px #6E6B6A inset;
	}
	
	.busqueda input[type=button], .busqueda input[type=text]
	{
	    border: 0;
	    border-radius: 15px;
	    font-family: Sansation,Arial;
	
	    height: 20px;
	    font-size: 13px;
	}
	
	.busqueda li{
	padding: 0px;
	
	}
	
	.links li{
	    border-bottom: 1px solid black;
		border-top: 1px solid #2F2F2F;
	    font-family: Arial;
		text-transform: uppercase;
		list-style: none;
	    line-height: 40px;
	    padding: 0 30px 0 10px;
		width: 216px;
	}
	
	.links .busqueda {
		height: 35px;
		line-height: 0;
		margin-top: 15px;
	}
	
	.links a {
		font-family: Arial;
		text-transform: uppercase;
		color:#fff;
	}

	.redes_responsivo{
    padding: 4px;
	}
	
	.redes_responsivo li {
		list-style: none;
		display: inline-block;
	}
	
	.redes_responsivo .fb{
		background: url(images/overs_desplegable.png) -50px 0px;
	
	}
	.redes_responsivo .fb:hover{
		background: url(images/overs_desplegable.png) -50px -25.2px;
	}
	
	.redes_responsivo .tw{
		background: url(images/overs_desplegable.png) -25px 0px;
	}
	.redes_responsivo .tw:hover{
		background: url(images/overs_desplegable.png) -25px -25px;
	}
	
	.redes_responsivo .mail{
		background: url(images/overs_desplegable.png) 0px 0px;
	}
	.redes_responsivo .mail:hover{
		background: url(images/overs_desplegable.png) 0px -25px;
	}
	
	.footer input[type=submit] {
	font-family: Sansation,Arial;
	border: 1px solid black;
	background:transparent;
	border-radius: 15px;
	height: 20px;
	}
	
}

